.setting-box-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  
  .login-bar {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 80px;
    text-align: right;
  }

  .setting-box {
    width: 1200px;
    height: max-content;
    margin: 50px auto;
  }

  .btn-groups {
    margin-bottom: 20px;
  }

  .table-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #eee;
    display: flex;
    text-align: center;

    .name, .password, .gateway {
      width: 28%;
    }

    .edit-box {
      width: 16%;
      margin-left: auto;
    }
  }

  .user-list {
    width: 100%;
    
    li {
      display: flex;
      text-align: center;
      height: 60px;
      line-height: 60px;

      .name, .password, .gateway {
        width: 28%;
      }
  
      .edit-box {
        width: 16%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
}