.setting-box-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background: #eee;

  .login-bar {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 80px;
    text-align: right;
  }

  .setting-box {
    width: 1200px;
    height: max-content;
    margin: 50px auto;
  }

  .btn-groups {
    margin: 20px 0;
  }

  .table-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #eee;
    display: flex;
    text-align: center;
  }

  .user-list {
    width: 100%;

    li {
      display: flex;
      text-align: center;
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }

      .edit-box {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }

  .tab-one {
    .name,
    .password,
    .gateway,
    .schoolname {
      width: 22.5%;
    }

    .edit-box {
      width: 10%;
      margin-left: auto;
    }

    .user-list {
      .name,
      .password,
      .gateway,
      .schoolname {
        width: 22.5%;
      }

      .edit-box {
        width: 10%;
      }
    }
  }

  .tab-two {
    .btn-groups {
      display: flex;
      justify-content: space-between;
    }

    .name, .schoolname {
      width: 40%;
    }

    .edit-box {
      width: 20%;
      margin-left: auto;
    }

    .user-list {
      .name, .schoolname {
        width: 40%;
      }

      .edit-box {
        width: 20%;
      }
    }
  }

  .tab-three {
    .name,
    .password,
    .ip-address,
    .port-address {
      width: 22.5%;
    }

    .edit-box {
      width: 10%;
      margin-left: auto;
    }

    .user-list {
      .name,
      .password,
      .ip-address,
      .port-address {
        width: 22.5%;
      }

      .edit-box {
        width: 10%;
      }
    }
  }
}

.card-container {
  padding: 24px;
  background: #fff;
}
