.access-list {
  .btn-group {
    .controls-edit {
      width: 63%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  .view-box {
    .view-box-first {
      height: 200px !important;
      line-height: 200px;
      text-align: center;
      font-size: 60px;
    }
  }
}