.information-management {
  @extend .box-basic;
  width: 560px;
  height: 350px;
  padding: 40px 40px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .information-cover {
    margin: 0 auto;
  }
}