.park-panel-wrap {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  margin-right: 20px;

  .btn-group {
    text-align: right;

    .ant-btn {
      margin-left: 20px;
    }
  }

  .park-panel-box {
    width: 100%;
    margin: 0 0 10px;

    & > ul {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-evenly;
    }

    li {
      width: 100%;
      height: 35px;
      line-height: 35px;
      color: $theme-color;
      font-size: 16px;
    }
  }

  .information-cover {
    text-align: center;

    .anticon {
      cursor: pointer;
    }
  }
}