.home-box-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .home-box {
    width: 1280px;
    margin: auto;
  }

  .home-banner {
    width: 1280px;
    height: 500px;
    border: 1px solid #e6e6e6;
  }

  nav {
    width: 1280px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    a {
      @extend .box-basic;
      width: 180px;
      height: 180px;
      color: $theme-color;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
  }
}