.access-control {
  width: 420px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-right: 20px;
  padding: 20px;

  .view-box {
    background: #cacaca;
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 32px;
    border-radius: $border-radius;
  }

  .view-control {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    color: $theme-color;

    .verify-box .anticon {
      margin-right: 10px;
    }

    .edit-box {
      display: flex;
      height: 100%;
      justify-content: space-evenly;
      flex-direction: column;
      cursor: pointer;
    }
    
  }
}