.home-top-header-box {
  width: 100%;
  height: 60px;
  box-shadow: inset 0 -1px 0 0 #ebebeb;

  .home-top-header {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      color: rgba(0, 0, 0, 0.85);
      font-size: 28px;
    }

    .btn-groups {
      margin-left: auto;

      .ant-btn {
        font-size: 18px;
        margin-right: 20px;

        &:last-child {
          margin-right: -15px;
        }
      }
    }
  }
}
